<footer>
    <section class="links">
        <a href="{% url 'Home' %}">Home</a>         <!-- Home set with name argument in urlpatterns list in urls.py -->
        <a href="{% url 'Contact' %}">Contact</a>   <!-- Contact set with name argument in urlpatterns list in urls.py -->
    </section>

    <div class="social">
        <a href="https://www.facebook.com/trading.rex/">FB</a>
        <a href="https://www.linkedin.com/in/nestor-dr/">IN</a>
        <a href="https://twitter.com/TradingRex">TW</a>
    </div>
</footer>
