<!-- Inherits from base template-->
{% extends 'base.html' %}

{% block title %}Django - Learning{% endblock %}

{% block content %}

<section class="main">
    <article>
        <h3>Description</h3>

        <h4>Django Course</h4>
        <p>
            This site is my implementation of the concepts explained in the first part of the <a href="https://www.youtube.com/watch?v=7XO1AzwkPPE&list=PLU8oAlHdN5BmfvwxFO7HdPciOCmmYneAB&index=1">Django Course (in Spanish)</a>, created by <a href="https://www.pildorasinformaticas.es">Pildoras Informáticas</a>.
        </p>
        <p>
            This first part is an introduction to Django, in which the instructor explains different basic aspects for developing with Django. I took those aspects to learn and create this project.
        </p>

        <h4>Flexbox Tutorial</h4>
        <p>
            Also for implementation I used CSS styles based on the tutorial: <a href="http://www.falconmasters.com/web-design/sitio-web-layout-flexbox/">How to make a responsive website / layout with Flexbox CSS3 (in Spanish)</a>, created by <a href="https://github.com/falconmasters">Carlos Arturo - FalconMasters</a>.
        </p>
        <p>
            This tutorial of Flexbox, had been very useful in my learning of Flexbox in the year 2016, and I took the opportunity to refresh many of the concepts taught there.
        </p>
    </article>
</section>

{% endblock %}