<!-- Inherits from base template-->
{% extends 'base.html' %}

{% block title %}Django - Contact me{% endblock %}

{% block content %}
<section class="main">
    <form method="post">
        <!-- Visit https://docs.djangoproject.com/en/3.1/ref/csrf/ -->
        {% csrf_token %}

        <h3>Contact me</h3>

        {% if sent %}

            <h4>Success! Thank you for your message.</h4>

        {% elif form %}

            <!-- Display Form -->
            <!-- The form object is capable of rendering itself as HTML -->
            <!-- Visit https://docs.djangoproject.com/en/3.1/ref/forms/api/#outputting-forms-as-html -->
            <!-- Remove {% comment %} to see the rendered result -->
            {% comment %}
                Form object is to render itself as HTML
                <ul>
                    {{ form.as_ul }}
                </ul>
            {% endcomment %}

            <!-- Form Content -->
            {% for field in form %}
                <div class="form-row">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <!-- Form Errors -->
            {% if form.non_field_errors %}
                <p class="alert-error"><strong>Error:</strong> Check the value of the fields</p>
                <ul class="alert-error">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if error|length > 0 %}
                <div class="alert-error">{{ error }}</div>
            {% endif %}

            <!-- Actions -->
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>

        {% endif %}
    </form>
</section>
{% endblock %}
