<!-- Inherits from base template-->
{% extends 'base.html' %}

{% block title %}Django - Learning{% endblock %}

{% block content %}

{% comment %}
Members precedence after a dot
- dictionary
- property
- method (not use parentheses)
- list index
{% endcomment %}

<section class="main">
    <article>
        <h3>Simple examples</h3>

        <h4>Example of using methods</h4>
        <p>Week day number: <strong>{{now.weekday}}</strong>
            (using <a href="https://docs.python.org/2/library/datetime.html#date-objects">datetime.weedkay</a> in template)
        </p>
    </article>

    <article>
        {% if day_names %}
        <h3>Examples in an array of days of the week</h3>

        <h4>
            Example of using template filters
            (<a href="https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#first">first</a>
            and
            <a href="https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#last">last</a>)
            in arrays
        </h4>
        <ul>
            <li>First day of the week: <strong>{{day_names|first}}</strong></li>
            <li>Last day of the week: <strong>{{day_names|last}}</strong></li>
        </ul>
        <h4>Example of using
            <a href="https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#cycle">%for%</a> template tag
        </h4>
        <ul>
            {% for item in day_names %}
            <li>
                {% if item == current_day_name %}
                <strong>{{item.upper}}</strong>
                (example of using
                <a href="https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#if">%if%</a>
                template tag, and
                <a href="https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#upper">upper</a>
                filter)
                {% else %}
                {{item}}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Not more elements to show.</p>
        {% endif %}
    </article>
</section>

{% endblock %}